body {
    color: #67676D;
}

main {
    section:not(:first-child):not(:last-child) {
        margin-bottom: 7.5rem;
    }

    section {
        p[class^="description"] {
            margin:2.5rem 0;
        }
    }

    .explanatory-about{
        padding: 4.375rem 0;
    }

    .explanatory-main-technologies{
        padding: 3.125rem;
        .box-technologies{
            gap: 2.1875rem;
            i{
                font-size: 4rem;
            }
        }
    }

    .explanatory-our-team{
        figcaption{
            font-size: 0.875rem;
            color: #7C7C83;
        }
        figure{
            margin-bottom: 4rem;
        }
    }
}