@import "global";

@mixin disable-selection-scroll {
    cursor: grab;
    user-select: none;
    -webkit-user-select: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

@mixin bg-testimonial($img-caminho) {
    &::before{
        content:" ";
        background-image: url($img-caminho);
        position: absolute;
        top: -50%;
        width: 134px;
        height: 242px;
        z-index: 2;
    }
}

.hero {
    background-image: $linear-gradiente;
    color: $white;
    padding: 3.5rem 1.5rem;

    .content-left {
        width: max-content;
    }

    .we-are {
        color: $white;
        font-size: 1.125rem;
        line-height: 140%;
    }

    .working {
        max-width: 326px;
        height: 295px;
        width: 100%;
    }

    .subtitle {
        font-size: 1.5rem;
        font-weight: 300;
        line-height: $line-height-medium;
        max-width: 560px;
    }

    .subtitle {
        margin-top: 32px;
    }

    .hero-down-arrow {
        height: 72px;
        margin-top: 88px;
    }
}

.container_advisors {
    padding: 5rem 1.5rem;

    h2 {
        max-width: 300px;
        width: 100%;
        color: $primary-main;
        font-weight: 300;
        line-height: 120%;
        font-size: 3rem;

        .text-wrapper {
            display: block;
            height: 1.5em;
        }

        span {
            color: $secondary-main;
        }
    }

    .content_top {
        padding: 1.75rem 0;

        p {
            color: #565C65;
            line-height: $line-height-medium;
            font-size: 1.125rem;
        }

        a {
            color: $primary-main;
            line-height: $line-height-spaced;
        }
    }

    .container {
        gap: 160px;
    }

    .container-testimonials {
        color: $white;
        overflow-x: scroll;
        @include disable-selection-scroll;

        .container-card-view {
            height: 400px;
            min-width:800px;
            max-width: 800px;

            .card-testimonials {

                .container-img {
                    min-width: 134px;
                    height: 242px;
                    z-index: 1;

                    &::after {
                        content: ' ';
                        background-image: url(../imgs/pingo.svg);
                        position: absolute;
                        background-repeat: no-repeat;
                        height: 110px;
                        width: 100px;
                        bottom: -35%;
                        ;
                    }
                }

                .container-img:nth-child(1){
                    @include bg-testimonial('./src/assets/imgs/cesimar_prof_img.png');
                }

                .container-img:nth-child(2){
                    @include bg-testimonial('./src/assets/imgs/baesse_prof_img.png');
                }

                .container-img:nth-child(3){
                    @include bg-testimonial('./src/assets/imgs/andreza_prof_img.png');
                }

                background-color:$primary-dark;
                width: 100%;

                .title-card {
                    color: #FFC82C;
                }

                .profession {
                    color: $primary-light;
                    margin: 4px 0 12px;
                    display: inline-block;
                }
            }
        }

    }
}

.our-activities {
    color: $white;
    background-color: $primary-dark;
    padding: 7.5rem 0;

    .container-trends {
        gap: 7.5rem;

        .content-trend {
            padding: 1.75rem 0;
        }

        .title-trends {
            line-height: $line-height-tight;
            font-weight: 800;

            span {
                color: $secondary-main;
            }
        }

        .subtitle-trends {
            line-height: $line-height-distant;
        }

        .content-title {
            line-height: $line-height-tight;
        }

        .content-subtitle {
            font-size: 18px;
        }

        .content-subtitle,
        .tag {
            color: #B7E9FF;
        }

        .to-talk {
            color: #F2B025;
            line-height: $line-height-spaced;
        }
    }
}

.our-projects {
    padding: 7.5rem 0;

    h3 {
        color: $primary-dark;
    }

    .subtitle-our-projects {
        color: $gray-300;
    }

    &>.container {
        gap: 2.5rem;
    }

    .project {
        a {
            color: $primary-dark;
        }
    }

    .title-project {
        color: $primary-darker;
        font-size: 1.125rem;
        line-height: $line-height-tight;
    }

    .description-project {
        color: $gray-600;
        line-height: $line-height-medium;
    }
}

.follow-news {
    border-top: 10px solid #FFC82C;
    background: $primary-dark;
    padding: 3.125rem 0;

    h3 {
        color: $white;
    }

    small {
        font-size: 14px;
        color: #B7E9FF;
    }

    p {
        font-size: 18px;
        color: #B7E9FF;
    }
}

.section-news {
    padding: 120px 0;

    .main-news {
        a {
            text-underline-offset: 10px;
        }
    }

    .box-news {
        padding: 2rem;
        border: 1px solid;
        /* Largura da borda */
        border-image: linear-gradient(to bottom, #2648A1, #2648A1, transparent, transparent, transparent) 1;
        border-radius: 8px;

        .description-news {
            font-size: 1.125rem;
        }
    }

    .news {
        p {
            color: $primary-main;

            &:not(:last-child) {
                border-bottom: 1px solid $primary-dark;
            }
        }
    }

    button {
        padding: 16px 32px;
        border-radius: 5px;
        border: 1px solid $primary-dark;
        background-color: transparent;
        color: $primary-dark;
        gap: 30px;
    }
}

.team {
    background-color: $primary-dark;
    color: #B7E9FF;
    padding: 5rem 0;

    .title {
        padding: 1.75rem 0;
    }

    .subtitle {
        font-size: 1.125rem;
        line-height: $line-height-spaced;
    }

    .box-card-team {
        white-space: nowrap;
        @include disable-selection-scroll;

        .card-team {
            border-radius: 5px;
            background-color: $white;
            color: $primary-darker;
        }
    }

    button {
        color: #B7E9FF;
        background-color: transparent;
        border: 1px solid;
    }
}

.team-mentors {
    padding: 5rem 0;

    .subtitle {
        font-size: 1.125rem;
        line-height: $line-height-spaced;
    }

    .title {
        padding: 1.75rem 0;

        h3 {
            color: $primary-dark;
        }
    }

    .box-card-team-mentors {
        @include disable-selection-scroll;

        .card-team {
            border: 2px solid $primary-dark;
            color: $primary-dark
        }
    }

    button {
        padding: 16px 32px;
        border-radius: 5px;
        border: 1px solid $primary-dark;
        background-color: transparent;
        color: $primary-dark;
        gap: 30px;
    }
}