@import "global";

.hero {
    background-image: $linear-gradiente;
    color: $white;
    padding: 3.5rem 1.5rem;

    .content-left {
        width: max-content;
    }

    .we-are {
        color: $white;
        font-size: 1.125rem;
        line-height: 140%;
    }

    .working {
        max-width: 326px;
        height: 295px;
        width: 100%;
    }

    .subtitle {
        font-size: 1.5rem;
        font-weight: 300;
        line-height: $line-height-medium;
        max-width: 560px;
    }

    .subtitle,
    button {
        margin-top: 32px;
    }

    button {
        padding: 16px 32px;
        border-radius: 5px;
        border: 1px solid $white;
        background-color: transparent;
        color: $white;
        gap: 30px;
    }

    .hero-down-arrow {
        height: 72px;
        margin-top: 88px;
    }
}

.container_advisors {
    padding: 5rem 1.5rem;

    h2 {
        max-width: 300px;
        width: 100%;
        color: $primary-main;
        font-weight: 300;
        line-height: 120%;
        font-size: 3rem;

        span {
            color: $secondary-main;
        }
    }

    .content_top {
        p {
            color: $gray-600;
            font-size: 1.125rem;
        }
    }

    .container{
        gap: 160px;
    }
    
    .container-testimonials{
        color: $white;
        overflow-x: scroll;
        .container-card-view{
            height: 400px;
            display: flex;
            align-items: center;
            width: auto;
        }
        .card-testimonials{
            position: relative;
            .equalizator{
                width: 500px;
                height: 169px;
            }
            .message{
                flex-grow: 1;
            }
            img{
                z-index: 2;
            }
            .container-img{
                width: 500px;
                &::after{
                    content: ' ';
                    background-image: url(../imgs/pingo.svg);
                    position: absolute;
                    background-repeat: no-repeat;
                    height: 110px;
                    width: 100px;
                    bottom:-50%;
                }
            }
            background-color:$primary-dark;
            max-width: 800px; 
            .title-card{
                color: #FFC82C;
            }
            .profession{
                color: $primary-light;
                margin: 4px 0 12px;
                display: inline-block;
            }
        }
    }
}

.our-activities{
    color: $white;
    background-color: $primary-dark;
    padding: 7.5rem 0;
    .container-trends{
        gap: 7.5rem;
        .title-trends{
            line-height: $line-height-tight;
            font-weight: 800;
            span{
                color: $secondary-main;
            }
        }
        .subtitle-trends{
            line-height: $line-height-distant;
        }
        .content-title{
            line-height: $line-height-tight;
        }
        .content-subtitle{
            font-size: 18px;
        }
        .content-subtitle,.tag{
            color: #B7E9FF;
        }
        .to-talk{
            color: #F2B025;
            line-height: $line-height-spaced;
        }
    }
}