p, h1, h2, h3, h4, h5, h6, .card-body, .card, figure{
    margin: 0 ;
    padding: 0;
}

p{
    font-size: 16px;
}


:root{ 
    --semantic-primary-blue-darker: #0F315C;
    --semantic-primary-blue-dark: #104F98;
    --semantic-primary-blue-main: #0B5ABD;
    --semantic-neutral-gray-darker: #3D4551;
    --semantic-neutral-gray-dark: #565C65;
    --semantic-primary-orange-light: #FAE08E;
    --primitive-brand-blue-50: #EDFAFF;
    --gray-adn-white-gray-200: #DFDFE0;
    --gray-adn-white-white: #FEFEFE;
    --white: #F9F9F9;
}

.color-semantic-primary-blue-darker{
    color: var(--semantic-primary-blue-darker);
}

.color-semantic-primary-blue-dark{
    color: var(--semantic-primary-blue-dark);
}

.color-semantic-primary-blue-main{
    color: var(--semantic-primary-blue-main);
}

.color-primitive-brand-blue-50{
    color: var(--primitive-brand-blue-50);
}

.color-white{
    color: var(--white);
}

.color-semantic-neutral-gray-darker{
    color: var(--semantic-neutral-gray-darker);
}

.color-semantic-neutral-gray-dark{
    color: var(--semantic-neutral-gray-dark);
}

.color-semantic-primary-orange-light{
    color: var(--semantic-primary-orange-light);
}

.bg-semantic-primary-blue-main{
    background-color: var(--semantic-primary-blue-main);
}

.bg-semantic-primary-blue-dark{
    background-color: var(--semantic-primary-blue-dark);
}

.bg-primitive-brand-blue-50{
    background-color: var(--primitive-brand-blue-50);
}

.bg-gray-adn-white-white{
    background-color: var(--gray-adn-white-white);
}

.background-cards{
    background: linear-gradient(180deg, rgba(16, 79, 152, 0) 69.58%, #0F315C, 20%, 100%);
}

.tight{
    line-height: 120%;
}

.medium{
    line-height: 140%;
}

.spaced{
    line-height: 150%;
}

.distant{
    line-height: 180%;
}

.lato{
    font-family: 'Lato', sans-serif !important;
}

.fs-large{
    font-size: 1.125rem;
}

.fs-medium{
    font-size: .875rem;
}

.fs-small{
    font-size: .75rem;
}

.fs-xsmall{
    font-size: .625rem;
}

.ms-n1{
    margin-left: -4px;
}

.max-content{
    width: max-content !important;
}


/* Global-Class */

