/* Global-Class */
p, h1, h2, h3, h4, h5, h6, .card-body, .card, figure{
    margin: 0 ;
    padding: 0;
}

p{
    font-size: 16px;
}


:root{ 
    --semantic-primary-blue-darker: #0F315C;
    --semantic-primary-blue-dark: #104F98;
    --primitive-brand-blue-50: #EDFAFF;
    --semantic-neutral-gray-darker: #3D4551;
    --gray-adn-white-gray-200: #DFDFE0;
    --semantic-neutral-gray-dark: #565C65;
    --semantic-primary-orange-light: #FAE08E;
    --semantic-primary-blue-main: #0B5ABD;
    --white: #F9F9F9;
}

.color-semantic-primary-blue-darker{
    color: var(--semantic-primary-blue-darker);
}

.color-semantic-primary-blue-dark{
    color: var(--semantic-primary-blue-dark);
}

.color-semantic-primary-blue-main{
    color: var(--semantic-primary-blue-main);
}

.color-primitive-brand-blue-50{
    color: var(--primitive-brand-blue-50);
}

.color-white{
    color: var(--white);
}

.color-semantic-neutral-gray-darker{
    color: var(--semantic-neutral-gray-darker);
}

.color-semantic-neutral-gray-dark{
    color: var(--semantic-neutral-gray-dark);
}

.color-semantic-primary-orange-light{
    color: var(--semantic-primary-orange-light);
}

.bg-semantic-primary-blue-main{
    background-color: var(--semantic-primary-blue-main);
}

.bg-semantic-primary-blue-dark{
    background-color: var(--semantic-primary-blue-dark);
}

.bg-primitive-brand-blue-50{
    background-color: var(--primitive-brand-blue-50);
}

.background-cards{
    background: linear-gradient(180deg, rgba(16, 79, 152, 0) 69.58%, #0F315C, 20%, 100%);
}

.tight{
    line-height: 120%;
}

.medium{
    line-height: 140%;
}

.spaced{
    line-height: 150%;
}

.distant{
    line-height: 180%;
}

.lato{
    font-family: 'Lato', sans-serif !important;
}

.fs-large{
    font-size: 1.125rem;
}

.fs-medium{
    font-size: .875rem;
}

.fs-small{
    font-size: .75rem;
}

.fs-xsmall{
    font-size: .625rem;
}

.ms-n1{
    margin-left: -4px;
}


/* Global-Class */

h2{
    font-size: 2.75rem;
}

h4{
    font-size: 1.5rem;
}

h5{
    font-size: 1.375rem;
}

.path-timeline{
    stroke: var(--semantic-primary-blue-main);
    stroke-width: 2;
    stroke-dasharray: 2;
}

.circle-timeline{
    fill: var(--semantic-primary-blue-main);
    stroke: var(--semantic-primary-blue-dark);
    stroke-width: 3;
}

.path-timeline-disabled{
    stroke: var(--semantic-neutral-gray-dark);
    stroke-width: 2;
    stroke-dasharray: 2;
}

.circle-timeline-disabled{
    fill: var(--gray-adn-white-gray-200);
    stroke: var(--semantic-neutral-gray-dark);
    stroke-width: 3;
}

.hero-equipe{
    border-left: .125rem solid;
    border-color: var(--semantic-primary-blue-dark);
}

.date-line-1{
    top: -64px;
    left: -14px;
    position: absolute;
}

.date-line{
    margin-left: -26px;
}

.rect-img{
    background-color: var(--semantic-primary-blue-dark);
    height: 269px;
    width: 266px;
}

.linear-equipe-awe{
    background: linear-gradient(180deg, rgba(16, 79, 152, 0.00) 69.58%, #104F98 100%);
}

@media screen and (max-width: 48rem) {
    .sect-cards{
        flex-wrap: nowrap;
        overflow-x: scroll;
    }
}


