
.link-filter-awe{
    background-color: rgba(38, 72, 161, 0.10);
    color: var(--semantic-primary-blue-main);
}

.filter-equipe-awe .nav-link.active{
    background-color: var(--semantic-primary-blue-main);
}

.path-timeline{
    stroke: var(--semantic-primary-blue-main);
    stroke-width: 2;
    stroke-dasharray: 2;
}

.circle-timeline{
    fill: var(--semantic-primary-blue-main);
    stroke: var(--semantic-primary-blue-dark);
    stroke-width: 3;
}

.path-timeline-disabled{
    stroke: var(--semantic-neutral-gray-dark);
    stroke-width: 2;
    stroke-dasharray: 2;
}

.circle-timeline-disabled{
    fill: var(--gray-adn-white-gray-200);
    stroke: var(--semantic-neutral-gray-dark);
    stroke-width: 3;
}

.hero-equipe{
    border-left: .125rem solid;
    border-color: var(--semantic-primary-blue-dark);
}

.date-line-1{
    top: -64px;
    left: -14px;
    position: absolute;
}

.date-line{
    margin-left: -26px;
}

.rect-img{
    background-color: var(--semantic-primary-blue-dark);
    height: 269px;
    width: 266px;
}

.linear-equipe-awe{
    background: linear-gradient(180deg, rgba(16, 79, 152, 0.00) 69.58%, #104F98 100%);
}

@media screen and (max-width: 48rem) {
    .sect-cards, .filter-equipe-awe{
        flex-wrap: nowrap;
        overflow-x: scroll;
        -ms-overflow-style: none; /* Internet Explorer 10+ */
        scrollbar-width: none; /* Firefox */
    }

    .sect-cards::-webkit-scrollbar, .filter-equipe-awe::-webkit-scrollbar {
        display: none; /* WebKit */
    }

    .picture-lines{
        display: none;
    }

    .hero-equipe{
        border: none;
    }
}


