main{
    min-height: 85vh;
    section{
        width: clamp(578px, 56vw, 49.375rem);
    }
    .btn-main{
        font-size: .875rem;
        padding: .625rem 1.5rem !important;
        border: 1px solid var(--gray-adn-white-white);
    }
    .btn-main:hover{
        background-color: #B4D1F426;
    }
    p{
        width: 80%;
    }
    .tomadas{
        background-color: var(--primary-primary-darker);
    }

    img.programador-mouse{
        animation: move-programmer 7s infinite alternate ease;
    }

    img.designer-mouse{
        animation: move-designer 7s infinite alternate ease;
    }

    @keyframes move-designer{
        from{
            transform: translate(0px, 50%);
        }
        25%{
            transform: translate(-25px, -50%);
        }

        50%{
            transform: translate(150px, 10%);
        }

        75%{
            transform: translate(-50px, -50%);
        }
        to{
            transform: translate(25px, -100%);
        }
    }

    @keyframes move-programmer{
        from{
            transform: translate(-50px, 50%);
        }
        25%{
            transform: translate(25px, -50%);
        }

        50%{
            transform: translate(-150px, 10%);
        }

        75%{
            transform: translate(-50px, -30%);
        }
        to{
            transform: translate(100px, -50%);
        }
    }
}